body
{
    background:                 #282828;
    width:                      100%;
    height:                     100%;
}


a
{
    color:                      #fff;
    text-decoration:            none;
}


a:hover
{
    color:                      #bbb;
}


a:visited
{
    color:                      #eee;
}


a:active
{
    color:                      #666;
}


.header, .val--title__logo, .val--title__text
{
    height:                     60px;
}


.header
{
    position:                   fixed;
    background-color:           #fff;
    color:                      #ccc;
    top:                        0;
    width:                      100%;
    z-index:                    1;
}


.val--title__logo, .val--title__text
{
    float:                      left;
}


.val--title__logo
{
    background-image:           url(../img/micro.png);
    height:                     48px;
    width:                      48px;
    margin-left:                10px;
    margin-top:                 6px;
    margin-right:               10px;
}


.val--title__text
{
    background-color:           #1359b5;
    height:                     60px;
    line-height:                60px;
    width:                      calc(100% - 268px);
    text-indent:                30px;
}


.val--author
{
    float:                      right;
    width:                      200px;
    background-color:           #195BB2;
    height:                     60px;
    text-align:                 center;
    line-height:                18px;
    font-size:                  12px;
}

.icon
{
    width:                      42px;
    height:                     42px;
    display:                    inline-block;
    position:                   relative;
    top:                        -2px;
}


.twitch--icon
{
    background-image:           url(../img/twitch-icon.png);
}


.twitter--icon
{
    background-image:           url(../img/twitter-icon.png);
}


.email--icon
{
    background-image:           url(../img/email-icon.png);
}


.content--wrapper
{
    position:                   fixed;
    width:                      100%;
    height:                     calc(100% - 80px);
    top:                        60px;
}


.nav-wrapper, .content
{
    float:                      left;
    height:                     100%;
    overflow-x:                 hidden;
    overflow-y:                 auto;
}


.nav-wrapper
{
    width:                      250px;
    box-shadow:                 0 0 20px #000;
    -webkit-box-shadow:         0 0 20px #000;
    -moz-box-shadow:            0 0 20px #000;
    font-size:                  14px;
    background-color:           #417FD0;
}


.nav-wrapper a
{
    display:                    block;
    margin-top:                 10px;
    margin-bottom:              10px;
}


.nav
{
    margin-left:                20px;
}


.hr
{
    height:                     1px;
    width:                      80%;
    position:                   relative;
    left:                       5%;
    background-color:           #fff;
}


.indented
{
    margin-left:                20px;
}


.content
{
    width:                      calc(100% - 300px);
    margin-left:                30px;
}


.content br
{
    height:                     0.5em;
}


.content p
{
    margin-left:                50px;
    font-size:                  14px;
}


.content a, .command
{
    display:                    block;
    color:                      #417FD0;
}


.inline-link
{
    display:                    inline-block !important;
}


.module--title
{
    color:                      #1359B5;
    font-weight:                bold;
}

.fetti--list li
{
    font-size:                  12px;
}


.footer
{
    position:                   fixed;
    bottom:                     0;
    background-color:           #1359b5;
    width:                      100%;
    height:                     20px;
    line-height:                20px;
    font-size:                  12px;
    text-indent:                30px;
    color:                      #ccc;
}

.footer a:hover
{
    color:                      #E95966;
}


